body{
    font-family: 'Bangers', cursive;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-align{
    text-align: center;
}
#yellow{
    background: yellow;
}
#red{
    background: #d9534f;
}
h1{
    font-size: 50px;
}
h4{
    font-size: 35px;
}